
* {
	font-family: sans-serif;
	padding: 9px;
	color: gray;
}

body > header {
	background-color:green;
	border-radius: 5px;
	box-shadow: 5px 5px 9px gray;
}

a {
	color:white;
	text-decoration: none;
}
a:hover, .title {
	color:white;
	text-shadow: 0 0 10px white, 0 0 20px white;
}

h1 {
	color:white;
	text-shadow: 0 0 10px white, 0 0 20px white;
}

input {
	width: 200px;
}
